.card-image {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.card-image-hover {
    -fx-fill: lightgreen;
}

.card-number {
    -fx-font-size: 14px;
}

.player-label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.drop-zone {
    -fx-fill: lightgray;
    -fx-stroke: black;
    -fx-stroke-width: 1;
    -fx-arc-width: 10;
    -fx-arc-height: 10;
}
.card-drag-over {
    -fx-border-color: red;
    -fx-border-width: 2;
}

.body {
    -fx-background-image: url("../resources/com/example/demo/MenuBackground.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}